---
import BaseLayout from '../layouts/BaseLayout.astro'
const PageTitle = "Blog"
import { Image } from 'astro:assets';
import pic from '../assets/afghanwomen_pic1.webp';
---
<BaseLayout PageTitle="{PageTitle}"></BaseLayout>
    <h2>This page is under construction 🛠️</h2>
    <ul>
        <li><a href="/posts/folkmuseum/">A Visit to the National Folk Museum of Korea</a></li>
    </ul>
    <ul>
        <li><a href="/posts/gitpost/">Git Basics for a Personal Website</a></li>
    </ul>
    <ul>
        <li><a href="/posts/afghanwomen/">Women and Men are Equal</a></li>
    </ul>
    <ul>
        <li><a href="/posts/perfume/">A Feast for the Nose</a></li>
    </ul>
</Baselayout>