---
import BaseLayout from '../layouts/BaseLayout.astro'
const PageTitle = "Blog"
---

<BaseLayout PageTitle={PageTitle}>
    <h1>Coming Soon ^^</h1>
    <style>
        h1 {
            text-align: center;
            margin-top: 100px;
            font-size: 2rem;
            font-family: Poppins;
        }
    </style>
</BaseLayout>