---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
            @font-face {
                font-family: 'Lunar Blossom';
                src: url('/public/fonts/Lunar-Blossom.otf') format('opentype');
                font-weight: normal;
                font-style: normal;
            }
            /* Add some basic styling for the header and hamburger menu */
            .header {
                display: flex;
                align-items: center;
                justify-content: center;
                /* background-color: #333; */
                color: black;
                padding: 10px;
                position: relative;
            }
            .hamburger {
                cursor: pointer;
                font-size: 24px;
                position: absolute;
                left: 10px;
            }
            .title {
                text-align: center;
                flex-grow: 1;
                font-family: "Lunar Blossom", sans-serif;
                font-size: 35px;
                word-spacing: 7px;
                color: black;
            }
            .icons {
                position: absolute;
                right: 10px;
                display: flex;
                gap: 10px;
            }
            .icon {
                font-size: 25px;
                cursor: pointer;
                color: black;
                text-decoration: none;
            }
            .material-icons {
                font-size: 25px;
                vertical-align: middle;
                color: black; /* Ensure the icon is black */
            }
            .fa-linkedin {
                font-size: 25px;
                vertical-align: middle;
                color: black; /* Ensure the icon is black */
            }
        </style>
    </head>
    <body>
        <header class="header">
            <div class="hamburger">&#9776;</div>
            <div class="title">Nicole Shoblom</div>
            <div class="icons">
                <a href="mailto:nicole.shoblom@gmail.com" class="icon" title="nicole.shoblom@gmail.com">
                    <span class="material-icons">email</span>
                </a>
                <a href="https://www.linkedin.com/in/navmendoza/" class="icon" title="LinkedIn Profile">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </header>
        <h1>Astro</h1>
    </body>
</html>
