---
import BaseLayout from '../layouts/BaseLayout.astro'
const PageTitle = "Resume"
---

<BaseLayout PageTitle={PageTitle}>
    <h1 class="lunar-blossom-title">n
    </h1>
    <style>
        .lunar-blossom-title {
            font-family: 'Lunar Blossom', sans-serif;
            font-size: 100px;
            color: white;
            background-color: black;
            text-align: center;
        }
    </style>
</BaseLayout>