---
---
<header class="header">
    <div class="hamburger">&#9776;</div>
    <div class="title">Nicole Shoblom</div>
    <div class="icons">
        <a href="mailto:nicole.shoblom@gmail.com" class="icon" title="nicole.shoblom@gmail.com">
            <span class="material-icons">email</span>
        </a>
        <a href="https://www.linkedin.com/in/navmendoza/" class="icon" title="LinkedIn Profile">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</header>