---
---
<style>
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 0px;
        position: relative;
    }
    .title {
        font-size: clamp(1.2rem, 5vw, 2.5rem); /* Responsive font size */
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        margin: 0 16px;
    }
    @media (max-width: 600px) {
        .title {
            font-size: 1.2rem;
        }
    }
</style>
<header class="header">
    <div class="hamburger">&#9776;</div>
    <div class="title">Nicole Shoblom</div>
    <div class="icons">
        <a href="mailto:nicole.shoblom@gmail.com" class="icon" title="nicole.shoblom@gmail.com">
            <span class="material-icons">email</span>
        </a>
        <a href="https://www.linkedin.com/in/navmendoza/" class="icon" title="LinkedIn Profile">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</header>