---
import BaseLayout from '../layouts/BaseLayout.astro'

import { Image } from 'astro:assets';
import pic from '../assets/afghanwomen/afghanwomen_pic1.webp';
---

<BaseLayout>
    <div class="blog-header">
        <h1>Men and Women are Equal</h1>
        <Image src={pic} alt="Picture from src folder" class="blog-image"></Image>
    </div>
    <slot />
    <style>
        .blog-header {
            text-align: center;
            margin-bottom: 20px;
        }

        .blog-image {
            width: 50%;
            height: auto;
            margin: 20px auto;
            display: block;
        }

        h1 {
            font-size: 2rem;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 10px;
        }
    </style>
</BaseLayout>